.product-detail {
    display: flex;
    justify-content: center;
}

.product-detail__img {
    width: 50%;
}

.product-detail__img img {
    display: block;
    margin: auto;
    object-fit: cover;
    max-height: 450px;
}

.product-detail__information {
    width: 50%;
}

.product-detail__title {
    font-weight: 800;
    font-size: 28px;
}

.product-detail__price {
    font-size: 28px;
    font-weight: 600;
}

.product-detail__footer {
    margin-top: 32px;
}

.product-detail__addToCart {
    border: solid 1px #232f3e;
    font-size: 16px;
    background: #fff;
    color: #232f3e;
    padding: 8px;
    border-radius: 4px;
    margin-top: 28px;
}

.product-detail__quantity h5 {
    font-size: 16px;
    margin-bottom: 8px;
}

.product-detail__quantity button {
    border: solid 1px #232f3e;
    font-size: 16px;
    background: #fff;
    color: #232f3e;
    padding: 8px;
    border-radius: 4px;
}

.product-detail__quantity span {
    font-size: 16px;
    padding: 8px;
}

@media screen and (max-width: 991px) {
    .product-detail__img {
        width: 100%;
    }

    .product-detail__information {
        width: 100%;
    }
}
